{% extends "base.html.twig" %}


{% block body %}
    <div class="container">
        {% if info is not empty %}
        <div class="alert alert-info">{{ info }}</div>
        {% endif %}

        {{ form_start(bookForm) }}
            {{ form_row(bookForm.title) }}
            {{ form_row(bookForm.isbn) }}
            {{ form_row(bookForm.author) }}
            {{ form_row(bookForm.borrowed) }}
            {{ form_row(bookForm.submit) }}
        {{ form_end(bookForm) }}
    </div>
{% endblock %}