{% extends "base.html.twig" %}


{% block body %}
    <div class="container">
        {% if info is not empty %}
        <div class="alert alert-info">{{ info }}</div>
        {% endif %}

        {{ form_start(bookForm) }}

        <table class="table table-borderless">
            <tbody>
            <tr>
                <td colspan="3">{{ form_row(bookForm.title) }}</td>
            </tr>
            <tr>
                <td colspan="3">{{ form_row(bookForm.isbn) }}</td>
            </tr>
            <tr>
                <td colspan="3">{{ form_row(bookForm.author) }}</td>
            </tr>
            <tr>
                <td colspan="3">{{ form_row(bookForm.borrowed) }}</td>
            </tr>
            <tr>
                <td>{{ form_row(bookForm.submit) }}</td>
                <td><button type="button" class="btn btn-secondary" onclick="getDataByIsbn()"><i class='fas fa-search'></i> {% trans %}book.details.by.isbn{% endtrans %}</button></td>
                <td><button type="button" class="btn btn-secondary"><i class='fas fa-search'></i> {% trans %}book.details.by.title{% endtrans %}</button></td>

            </tr>
            </tbody>
        </table>

        {{ form_end(bookForm) }}

        <div id="modal-box"></div>
    </div>
{% endblock %}